<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header::header"></head>

<body>
<div th:replace="layouts/head::head">
</div>
	<div class="container mainContent">

		<div class=" bottommar-50">
			

			<div class="row">
				<div class="col-md-3">

					<div th:replace="layouts/menu::menu"></div>


				</div>

				<div class="col-md-9">
				     <div class=" automar topmar-50 max-width-500 ">
				<div class="dounbleborder center textColor2 pad10 shadow">Add New Book</div>
				</div>
					<div class="formContainer whiteBack automar topmar-50  shadow">
						<div th:if="${isMessage}">
							<div th:text="${message}">One Book added</div>
						</div>
						<form method="post" th:action="@{addbook}">
							<div class="form-group">
								<label for="exampleInputEmail1">Book name</label> <input
									type="text" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" name="name" placeholder="Jhon Doe" />
								<small id="emailHelp" class="form-text text-muted">write
									Book full name</small>
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Call number</label> <input
									type="text" class="form-control"
									aria-describedby="emailHelp" name="callnumber"  />
								
							</div>

							<div class="form-group">
								<label for="exampleFormControlTextarea1">Description</label>
								<textarea class="form-control" name="description"
									id="exampleFormControlTextarea1" rows="6"></textarea>
							</div>


							<div class="form-group">
								<label for="labelforselectauthor">Select author(s)</label><br />
								<label th:each="athr : ${authors}" class="checkbox-inline"><input
									name="author" type="checkbox" th:value="${athr.getId()}" /><span
									class="checkboxtextmar" th:text="${athr.getName()}">Option
										1</span></label>
							</div>
							<div class="form-group">

								<label for="labelforselectauthor">Select Category(s)</label><br />
								<label th:each="catgr : ${categories}" class="checkbox-inline"><input
									name="category" type="checkbox" th:value="${catgr.getId()}" /><span
									class="checkboxtextmar" th:text="${catgr.getName()}">Option
										1</span></label>

							</div>
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>

				</div>

			</div>


		</div>


	</div>

<div th:replace="layouts/footer::footer">
</div>

</body>
</html>