<div th:fragment="menu">
  
  <div class="whiteBack topmar-50 shadow menu">
    <div>
      <a>Dashboard</a>
    </div>
    <div>
      <a th:href="@{allusers}">All Users</a>
    </div>
    <div>
      <a th:href="@{allbooks}">All Books</a>
    </div>
    <div>
      <a th:href="@{addbook}">Add Book</a>
    </div>
    <div>
      <a th:href="@{adduser}">Add User</a>
    </div>
    <div>
      <a th:href="@{addAuthor}">Add Author</a>
    </div>
    <div>
      <a th:href="@{addCategory}">Add Category</a>
    </div>
    <div>
      <a th:href="@{issuebook}">Issue Book</a>
    </div>
    <div>
      <a th:href="@{acceptbook}">Accept Book</a>
    </div>
    <div>
      <a th:href="@{allfines}">Remove Fine</a>
    </div>
  </div>
  
</div>