@import url('https://fonts.googleapis.com/css?family=Supermercado+One');
h1,h2,div
{
	font-family: 'Supermercado One', cursive;
}

.mainContent
{
	
	background-color:#64c8ff;
	padding:20px;
	
}
.pad-20
{
	padding: 20px;
}
.checkboxtextmar
{
	margin-left: 5px;
margin-right: 5px;
}
.center
{
	text-align:center;
}
. textColor1
{
	color:white;
}
.textColor2
{
	color:#686868;
}
.dounbleborder
{
	border:6px double #686868;
}
.formContainer
{
	max-width:500px;
}
.max-width-500
{
	max-width:500px;
}
.shadow
{
	box-shadow: 0px 0px 7px -2px;
}
.whiteBack
{
	background-color:white;
	padding: 30px;
}
.pad10
{
	padding:10px;
}
.automar
{
	margin:auto;
}
.topmar-50
{
	margin-top:50px;
}
.bottommar-50
{
	margin-bottom:50px;
}
.menu div
{
	padding:20px;
}
.menu div a
{
	cursor:pointer;
}
.maxheight-600
{
	max-height: 600px;
    overflow-y: auto;
}
.footer
{
	background-color: #41bcff;
color: white;
padding: 12px;
}
.head
{
	background-color: #31b6ff;
color: white;
padding: 12px;
font-size: 25px;
}